/* App.css */
.container {
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom:20px
}

.card-body {
  flex-grow: 1;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}
